body {
--black : #1d192c;
--deep-black: #131023;
--yellow: #f9c858;
--white: #f7f7ff;

}

* { 
    font-family: 'Oswald', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.hamburger_menu{
    display: flex;
    flex-direction: column;
    width: 4.4em;
    height: 4.8em;
    row-gap: 3.9px;
    background-color: var(--yellow);
    justify-content: center;
    align-items: center;
    margin: 120px 0;
    
}
.line {
    width: 1.4rem;
    height: 1.8px;
    background-color: var(--deep-black);
    left: 20px;
    top: 20px;
}

.first_section {
    position: fixed;
    height: 100vh;
    inset: 0 0 0 0;
    background-color: var(--deep-black);
}

.first_name_section {
    position: absolute;
    top: 28px;
    left: 72px;
    z-index: 1;
}

.first_name_section > h5 {
    color: var(--white);
    font-size: 48px;
    font-weight: 100;
    line-height: 1;
}

.first_name_section > p {
    color: var(--yellow);
    font-size: 12px;
    line-height: 1;
}

.first_innerbody {
    position: absolute;
    inset: 5.4em 9.587em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    padding: 0px 24px;
    border-radius: 16px;
}

.first_right_half {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 2s ease-in-out, opacity 2s linear;
}

.first_right_half > p {
    padding-top: 3rem;
}

.first_right_half > * {
    color: var(--white);   
    font-size: 16px;
    line-height: 1;
}


 .progress_unit >  progress {
    border-radius: 0px; 
    width: 50%;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
  }
  .progress_unit > progress::-webkit-progress-bar {
    background-color: var(--white);
    border-radius: 0px;
  }
  .progress_unit > progress::-webkit-progress-value {
    background-color: var(--yellow);
  }

  #three_back {
      margin-top: 50px ;
  }


  .first_right_half > .progress_unit {
      display: flex;
      width: 300px;
      justify-content: space-between;
      margin: 8px 0;
  }

.first_left_half {
    width: 40%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: transform 2s ease-in-out, opacity 2s linear ;
}

.first_left_half > img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    filter: grayscale(100%);
}

.first_right_half > h1 {
    color : var(--yellow);
    font-size: 4rem;
    line-height: 1;
    align-items: left;
    width: 100%;
}

.first_right_half > p {
    color: var(--white);
    font-size: 14px;
    width: 60%;
    line-height: 2.2;
    margin: 0 auto;
    margin-top: px;
}

.first_abstract {
    position: absolute;
    top:100%;
    left: 50%;
    transform: translate(-50%, -100%);
    height: auto;
    width: auto;
}

.plus {
    background-color: var(--white);
    height: 100px;
    width: 100px;
    transform: translate(-50%, 50%);
    clip-path: polygon(40% 0 ,60% 0, 60% 40% , 100% 40% , 100% 60%, 60% 60% , 60% 100% , 40% 100% , 40% 60% , 0 60% , 0 40% , 40% 40% );
}

.square {
    background-color: var(--yellow);
    width: 100px;
    height: 150px;
}

.fade_right {
    transform: translateX(50%);
    opacity: 0;
}

.fade_left {
    transform: translateX(-50%);
    opacity: 0;
}

.appear {
    transform: translateX(0);
    opacity: 1;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

}

.button_button {
    background-color: transparent;
    color: var(--yellow);
    border: none;
    text-decoration: underline;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}

.hide {
    display: none;
}

@keyframes bobin {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(30%, 40%);
    }
    50% {
        transform: translate(600%, 200%);
    }
    75% {
        transform: translate(90%, 50%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

@media (max-width: 980px) {
    html {
        font-size: 8px;
    }
    
}
    